<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting cacheModelsEnabled="true" />
  </settings>

  <providers resource="providers.config" />
  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="iBatisNet" connectionString="Server=127.0.0.1; User ID=sa;Password=123456aA;Database=EasyUI_Test;Persist Security Info=True" />
  </database>

  <sqlMaps>
    <sqlMap resource="SqlMaps/Common.xml" />
  </sqlMaps>

</sqlMapConfig>